package {{.packageName}}

import (
     "panda-trip/internal/server/response"

    {{- range $k,$v := .importData}}
     {{$k|lowCamel}} "{{$v}}"
    {{- end}}

    "github.com/gin-gonic/gin"
)

func {{.funcName}}(ctx *gin.Context) {
  var  request {{.reqShortPath|lowCamel}}.{{.reqName}}
  if err := ctx.ShouldBind(&request); err != nil {
 		response.Fail(ctx, err.Error(), nil)
 		return
    }
    service := {{.svcShortPath|lowCamel}}.New{{.funcName}}Service(ctx)
    result :=  service.{{.funcName}}(&request)
    ctx.JSON(200, result)
}