{{- range .reqStructs }}
export interface {{.Name|upCamel}} {
    {{- range .Rows }}
    {{ .Name }}: {{ .DataType }};
    {{- end }}
}
{{ end }}

{{- range .respStructs }}
export interface {{.Name|upCamel}}Resp {
    {{- range .Rows }}
    {{ .Name }}: {{ .DataType }};
    {{- end }}
}
{{ end }}